

.container{
    min-height: 100vh;
}

.createPost_Wrapper{
    padding: 30px;
}
.title_container{
    display: flex;
    position: relative;
}

.createPost_title{
    border-bottom: 1px solid black;
    font-size: 1.4rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    width: 100vw;
}


.goBack_link{
    position: absolute;
    right: 0;
    top: 5px;
    height: 100%;
    padding: 0px 5px;
    width: 40px;
}

.goBack_link:hover{
    transition: 0.4s ease;
    color: #F7567C;
}

.createPost_div{
    min-height: 80vh;
    display: flex;
    justify-content: center;
}

.createPost_form{
    background: rgba(93,87,107, 0.5);
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
}

.createPost_input{
    border: none;
    cursor: pointer;
    background: rgba(255,255,255, 0.5);
    width: 100%;
    margin: 10px;
    padding: 4px;
    height: 50px;
}

.createPost_input:focus{
    outline: none;
}

.createPost_textarea{
    width: 100%;
    cursor: pointer;
    background: rgba(255,255,255, 0.5);
    padding: 4px;
    margin: 10px;
}

.createPost_textarea:focus{
    outline: none;
}

.createPost_label{
    display: none;
}

.createPost_button{
    margin: 10px;
    width: 100%;
    background:#F7567C;
    color: rgba(255,255,255, 0.7);
    padding: 10px 5px;
}

.createPost_button:hover{
    transition: 0.4s ease;
    background: rgba(255,255,255, 0.7);
    letter-spacing: 1px;
    color:#F7567C;

}

.createPost_button:active{
    transition: 0.4s ease;
    transform: scale(0.98);
}


.webUser_container{
    width: 20vw;
    margin: 10px 0px 0px 10px;
    position: relative;
}

.webUser_fixed{
    border-radius: 5px;
    width: 20vw;
    height: 400px;
    position: fixed;
    background: rgba(93,87,107, 0.5);
    
}

@media screen and (max-width: 1200px){
    .output_field{
        width: 80vw;
    }

    .webUser_container{
        transition: 0.4s ease;
        display: none;
    }

     .createPost_form{
         width: 80vw;
     }
}

@media screen and (max-width: 600px){

    .createPost_form{
        transition: 0.4s ease;
        width: 90vw;
    }
}

