

.container_wrapper{
    height: 70px;
    position: relative;
}

.container{
    width: 50vw;
    height: 60px;
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    background-color: rgba(255,255,255, 0.3);
    position: absolute;
    border-bottom: 4px solid white;
}


.container div{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter_btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s ease;
    font-size: 1.1rem;
}

.filter_btn:hover{
    color: #F7567C;
}

@media screen and (max-width: 1200px){

    .container{
        transition: 0.4s ease;
        width: 80vw;
    }
}