



.container{
    
}


.settings_title{
    margin: 5px 20px;
    font-size: 1.4rem;
}


.settings_div{
    display: flex;
    margin-top: 15px;
    border-bottom: 2px solid grey;
    position: relative;

}

.settings_link, .home_button{
    margin: 5px 10px;
    font-size: 1rem;
   
}

.home_button{
    position: absolute;
    right: 10px;
    font-size: 1.3rem;
}

.settings_output_container{
    min-height: 78vh;
    padding: 20px;
    margin: 20px 0px;
}