
/* ------------------------------------------ LOGIN PAGE -------------------------------------------- */


.login_form{
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 50vw;
}

.login_label{
    display: none;
}

.login_input{
    width: 100%;
    margin: 20px;
    height: 50px;
    border-bottom: 2px solid black;
    background: transparent;
    padding: 5px;
}

.login_input:focus{
    outline: none;
}

.login_button{
    border-bottom: 2px solid black;
    width: 200px;
    margin-top: 20px;
    padding: 5px 0px;
   
}

.login_button:hover{
    transition: 0.4s ease;
    background: rgba(247,86,124, 0.5);
    color: rgba(255,255,255, 0.8);
    border-bottom: 2px solid rgba(247,86,124, 0.5);
    box-shadow: 0px 0px 2px grey;

}

.register_container{
    width: 100vw;
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.register_link{
    color:rgba(247,86,124, 0.5);
    padding-left: 5px;
}


/* ------------------------------------------ LOGIN COMPONENT -------------------------------------------- */

.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(93,87,107, 0.3);
}


.reddit_container, .google_container{
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 30px;
}

.icon{
    color: #F7567C;
    width: 70px;
    height: 70px;
    cursor: pointer;
}



.reddit_title{
    margin: 10px;
    height: 70px;
    display: flex;
    align-items: end;
    font-size: 2rem;
    cursor: pointer;
 
}

.reddit_title:hover{
    transition: 0.4s ease;
    color: #F7567C;
}


.google_button{
    
}
